.side-bar
  .side-bar__header
    .side-bar__top-items
      masa
      .side-bar__menu
        = link_to "#", class: "menu--edit" do
          = icon('fa', 'edit')
        = link_to "#", class: "menu--cog" do
          = icon('fa', 'cog')
  .side-bar__group-list
    .side-bar__group-list__group
      .side-bar__group-list__group-name
        techcamp
      .side-bar__group-list__latest-message
        まだメッセージはありません