* {
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  display: flex;
}

.side-bar {
  width: 300px;
  background-color: #253141;
  .side-bar__header {
    height: 100px;
    display: flex;
    align-items: center;
    .side-bar__top-items {
      height: 20px;
      width: 260px;
      margin: 0 20px;
      font-size: 16px;
      font-weight: bold;
      color: #ffffff;
      display: flex;
      justify-content: space-between;
      line-height: 20px;
      .side-bar__menu {
        width: 60px;
        display: flex;
        justify-content: flex-end;
        .menu--edit {
          color: #ffffff;
          margin-right: 5px;
        }
        .menu--cog {
          color: #ffffff;
          text-align: right;
        }
      }
    }
  }
  .side-bar__group-list {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    .side-bar__group-list__group {
      padding: 20px 20px 40px;
      color: #ffffff;
      .side-bar__group-list__group-name {
        font-size: 15px;
        font-weight: bold;
      }
      .side-bar__group-list__latest-message {
        font-size: 11px;
        font-weight: bold;
      }
    }
  }
}

.chat-main {
  width: calc(100vw - 300px);
  background-color: #fafafa;
  .chat-main__group-info {
    height: 100px;
    background-color: #ffffff;
    border-bottom: solid 2px #eeeeee;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    .chat-main__group-info__group-box {
      margin-top: 35px;
      .chat-main__group-info__group-name {
        margin-bottom: 15px;
        color: #333333;
        font-size: 20px;
      }
      .chat-main__group-info__members {
        color: #999999;
        font-size: 12px;
      }
    }
    .chat-main__group-info__edit-btn {
      height: 40px;
      margin-top: 28px;
      padding: 0 20px;
      border: solid 1px #38aef0;
      font-size: 16px;
      line-height: 40px;
      position: absolute;
      right: 40px;
      .group--edit {
        text-decoration: none;
        color: #38aef0;
      }
    }
  }
  .chat-main__message-list {
    height: calc(100vh - 190px);
    padding: 35px 40px;
    .chat-main__message_id_1 {
      margin: 0 0 46px;
      .chat-main__member-info {
        display: flex;
        margin-bottom: 12px;
        .chat-main__member-info__name{
          font-size: 16px;
          color: #333333;
          font-weight: bold;
        }
        .chat-main__member-info__date {
          font-size: 12px;
          color: #999999;
          margin-left: 10px;
        }
      }
      .chat-main__member-text {
        font-size: 14px;
        color: #434A54;
      }
    }
    .chat-main__message_id_2 {
      margin: 0 0 46px;
      .chat-main__member-info {
        display: flex;
        margin-bottom: 12px;
        .chat-main__member-info__name {
          font-size: 16px;
          color: #333333;
          font-weight: bold;
        }
        .chat-main__member-info__date {
          font-size: 12px;
          color: #999999;
          margin-left: 10px;
        }
      }
      .chat-main__member-text {
        font-size: 14px;
        color: #434A54;
      }
    }
  }
  .chat-main__message-form {
    height: 90px;
    padding: 20px 40px;
    background-color: #d2d2d2;
    .new-message {
      display: flex;
      .input-box {
        width: 100%;
        position: relative;
        .input-box__text {
          height: 50px;
          width: 100%;
          color:  #434a54;
          padding: 0 40px 0 10px;
          border-style: none;
        }
        .input-box__image {
        font-size: 1.3rem;
        position: absolute;
        top: 10px;
        right: 10px;
          .input-box__image__file {
            display: none;
          }
        }
      }
    }
    .submit-btn {
      height: 50px;
      width: 100px;
      background-color: cornflowerblue;
      color: white;
      padding: 0 30px;
      margin-left: 15px;
    }
  }
}